.input-group{
    margin: auto;
    margin-top: 300px;
    width: 900px;
}

.input-group-text{
    font-size: 20px;
}

.input-group_2{
    margin: auto;
    width: 900px;
    height: 400px;
}

.input-text{
    width: 900px;
    height: 400px;
}

.imput-text-box{
    margin: auto;

}